/* todos os fundos */
body {
  background-color: rgb(150, 150, 150);
  margin: 2%;
  padding-bottom: 70px;
  font-family: Arial, sans-serif;
}

/* menu de cima*/
.menu {
  background-color: #800020;
  padding: 15px;
  display: flex;
  justify-content: center;
}

.menu div {
  display: flex;
  gap: 20px;
}

.menu a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

/* textos */
.container h1 {
  font-size: 2.2em;
  font-weight: 700;
  margin-top: 20px;
  color: #800020;
}

.container h2 {
  font-size: 1.4em;
  font-weight: 500;
  margin-bottom: 20px;
}

.container p {
  font-size: 1.1em;
  line-height: 1.6;
}

/* rodapé que fica fixo */
.contato {
  background-color: #800020;
  color: white;
  text-align: center;
  padding: 6px 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 12px;
  left: 2%;
  right: 2%;
  width: auto;

}

.contato img {
  height: 20px;
}

/* os formulários*/
form input,
form button {  
  display: block;
  width: 25%;
  margin-bottom: 12px;
  padding: 10px;
  font-size: 16px;
}

.formulario {
  max-width: 400px;
  margin: 0 auto;
  padding: 15px;
}

/* os campos dos formulários*/
input[type="text"],
input[type="password"],
input[type="url"],
input[type="file"],
textarea,
select {
  width: 100%;
  padding: 8px;
  margin-top: 6px;
  margin-bottom: 10px;
  border: 1px solid #80002055;
  border-radius: 4px;
}

textarea {
  resize: vertical;
}

/* botões com um padrão */

/* cor vinho */
button,
.btn,
.btn.btn-primary {
  background-color: #800020;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* HOVER — AZUL */
button:hover,
.btn:hover,
.btn.btn-primary:hover {
  background-color: 0d6efd; /* azul Bootstrap */
}

/* padrão do certificado */
.container-certificado {
  text-align: center;
  margin-top: 40px;
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

/* quiz opções */
.quiz-option {
  display: flex;
  gap: 8px;
  margin-bottom: 6px;
}

.quiz-option input[type="radio"] {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

#resultado {
  font-weight: bold;
  color: #800020;
  font-size: 1.2rem;
}

/* as trilhas do quiz*/
.trilha-card {
  background: #fff5f5;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 15px;
  border: 2px dashed #d48b8b;
}

.trilha-card.dragging {
  opacity: 0.4;
}

.trilha-card.drag-over {
  background: #ffe0e0;
}

/* botões especiais */
.btn-edit {
  background-color: #8b0010;
}

.btn-edit:hover {
  background-color: #0d6efd;
}

.btn-delete {
  background-color: #c20018;
}

.btn-delete:hover {
  background-color: #0d6efd;
}

.container a {
  color: blue;
  font-weight: bold;
}
