<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Silva’s Parrilla</title>
    <link rel="icon" type="image/png" href="/img/logo.png">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link href="/css/style.css" rel="stylesheet">
    <script src="/script/script.js" defer></script>
    <script defer src="/script/htmx.min.js"></script>
</head>

<body>
    <header>
        <nav class="menu">
            <div>
                <a href="/html/trilhas.html">Voltar para Trilhas</a>
                <a href="/html/quiz-atendimento.html">Realizar Quiz</a>
                <a href="/index.html">Sair</a>
            </div>
        </nav>
    </header>
    
    <main>

    <template hx-get="/conteudos/atendente-texto-cima.html" hx-target="#atendente-texto-cima"
        hx-trigger="load"></template>
    <template hx-get="/conteudos/atendente-texto-baixo.html" hx-target="#atendente-texto-baixo"
        hx-trigger="load"></template>
    <template hx-get="/conteudos/atendente-midia.html" hx-target="#atendente-midia" hx-trigger="load"></template>
    <template hx-get="/conteudos/atendente-img.html" hx-target="#atendente-img" hx-trigger="load"></template>
    <template hx-get="/conteudos/rodape.html" hx-target="#footer" hx-trigger="load"></template>

    
        <section id="atendente-texto-cima"></section>
        <section id="atendente-img"></section>
        <section id="atendente-texto-baixo"></section>
        <section id="atendente-midia"></section>
    </main>

    <footer id="footer"></footer>

</body>

</html>