<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <title>Silva’s Parrilla</title>
 <link rel="icon" type="image/png" href="/img/logo.png">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <link href="../css/style.css" rel="stylesheet">
  <script src="../script/script.js"></script>
  <script defer src="../script/htmx.min.js"></script>
</head>

<body>
  <header>
  <nav class="menu">
    <div>
      <a href="../index.html">Inicio</a>
      <a href="../html/cadastro.html">Cadastro</a>
      <a href="../html/recuperarsenha.html">Recuperar senha</a>
      </nav>
  </header>

  <main>
    <template hx-get="../conteudos/login-topo.html" hx-target="#login-topo" hx-trigger="load"></template>
    <template hx-get="../conteudos/login-formulario.html" hx-target="#login-formulario" hx-trigger="load"></template>
    <template hx-get="../conteudos/rodape.html" hx-target="#footer" hx-trigger="load"></template>

    <section id="login-topo"></section>
    <section id="login-formulario"></section>
    <section id="footer"></section>

  </main>

  <footer id="footer"></footer>
 

</body>

</html>